<%- include('partials/header') %>

	<!-- Banner -->
	<section id="banner">
		<div class="content">
			<span class="image" style="margin-bottom: 40px;"><img src="images/cinko.jpg" alt="" /></span>
			<header class="major">
				<h2>
					<%= titulo %>
				</h2>
			</header>
		</div>
		<a href="#one" class="goto-next scrolly">Next</a>
	</section>

	<!-- One -->
	<section id="one" class="spotlight style1 bottom">
		<span class="image fit main"><img src="images/img03.jpg" alt="" /></span>
		<div class="content">
			<div class="container">
				<div class="row gtr-uniform">

					<section class="col-12 col-12-medium col-12-xsmall align-center">
						<p class="text-primary">Dónde estamos: <span class="text-white">Dr. Luis Alberto de Herrera 954</span></p>
						<p class="text-primary">Contacto: <span class="text-white">2294 40044</span></p>
					</section>
					<!-- <section class="col-6 col-6-medium col-12-xsmall align-center">
						<i class="fa fa-user fa-3x"></i>
						<h3>Ipsum sed commodo</h3>
						<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
					</section>
					<section class="col-6 col-6-medium col-12-xsmall align-center">
						<i class="fa fa-user fa-3x"></i>
						<h3>Eleifend lorem ornare</h3>
						<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
					</section> -->
				</div>
			</div>
		</div>
		<a href="#contacto" class="goto-next scrolly">Next</a>
	</section>

	<!-- Five -->
	<section id="contacto" class="wrapper style2 special fade">
		<div class="container">
			<header>
				<h2>Magna faucibus lorem diam</h2>
				<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
			</header>
			<form method="post" action="#" class="cta">
				<div class="row gtr-uniform gtr-50">
					<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email"
							placeholder="Your Email Address" /></div>
					<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" />
					</div>
				</div>
			</form>
		</div>
	</section>

	<%- include('partials/footer') %>