<!DOCTYPE HTML>
<html>

<head>
    <title>
        <%= titulo %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/cinko-icon.png" type="image/png">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
</head>

<body class="landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="#" class="scrolly">Cinko Multimarket</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="#" class="scrolly">Inicio</a></li>
                    <li><a href="#one" class="scrolly">Info</a></li>
                    <li><a href="#contacto" class="button primary scrolly">Contacto</a></li>

                    <!-- <li>
                        <a href="#one" class="scrolly">Info</a>
                        <ul>
                            <li><a href="#" class="scrolly">Inicio</a></li>
                            <li><a href="#info" class="scrolly">Info</a></li>
                            <li><a href="no-sidebar.html">No Sidebar</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option 1</a></li>
                                    <li><a href="#">Option 2</a></li>
                                    <li><a href="#">Option 3</a></li>
                                    <li><a href="#">Option 4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li><a href="elements.html">Elements</a></li> -->
                </ul>
            </nav>
        </header>